## generating data for prediction
import pandas as pd
import datetime

# Define the start and end dates
start_date = datetime.date(2023, 4, 1)
end_date = datetime.date(2024, 4, 1)

# Initialize lists to store data
dates = []
t_values = []
t_squares = []
dia_categories = ['12MM']
months = ['April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'January', 'February', 'March']

# Initialize a list to store binary values for months
months_data = []

# Generate data
current_date = start_date
t = 73
while current_date < end_date:
    dates.append(current_date.strftime('%d-%m-%y'))
    t_values.append(t)
    t_squares.append(t ** 2)
    
    # Generate binary values for each month
    binary_values = [1 if month in current_date.strftime('%B') else 0 for month in months]
    months_data.extend(binary_values)
    
    t += 1
    current_date += datetime.timedelta(days=30)  # Approximate month length
    
# Create a DataFrame
data1 = {
    'Date': dates,
    't': t_values,
    't_square': t_squares,
    'dia': dia_categories * len(dates),  # Repeat the category for each date
    **{month: months_data[i::len(months)] for i, month in enumerate(months)}
}

df2 = pd.DataFrame(data1)

# Print the DataFrame
print(df2)

In [3]:
import pandas as pd

# Create a DataFrame with 365 days
days = pd.date_range(start='2023-08-24', periods=365, freq='D')
df = pd.DataFrame({'Date': days})

# Calculate the elapsed months 't'
df['t'] = (df['Date'] - df['Date'].min()).dt.days // 30 + 1

# List of months
selected_months = ['March', 'June', 'September', 'December']

# Create binary columns for the selected months
for month in selected_months:
    df[month] = (df['Date'].dt.month == pd.to_datetime(month, format='%B').month).astype(int)

# Print the DataFrame
print(df)

          Date   t  March  June  September  December
0   2023-08-24   1      0     0          0         0
1   2023-08-25   1      0     0          0         0
2   2023-08-26   1      0     0          0         0
3   2023-08-27   1      0     0          0         0
4   2023-08-28   1      0     0          0         0
..         ...  ..    ...   ...        ...       ...
360 2024-08-18  13      0     0          0         0
361 2024-08-19  13      0     0          0         0
362 2024-08-20  13      0     0          0         0
363 2024-08-21  13      0     0          0         0
364 2024-08-22  13      0     0          0         0

[365 rows x 6 columns]

In [4]:
df

          Date   t  March  June  September  December
0   2023-08-24   1      0     0          0         0
1   2023-08-25   1      0     0          0         0
2   2023-08-26   1      0     0          0         0
3   2023-08-27   1      0     0          0         0
4   2023-08-28   1      0     0          0         0
..         ...  ..    ...   ...        ...       ...
360 2024-08-18  13      0     0          0         0
361 2024-08-19  13      0     0          0         0
362 2024-08-20  13      0     0          0         0
363 2024-08-21  13      0     0          0         0
364 2024-08-22  13      0     0          0         0

[365 rows x 6 columns]